<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Contact from <%= @inurl %></h1>
<p>
  Contact request from <%= @contact.name %>
</p>
<p>Email: <%= @contact.email %></p>
<p>Jelly Bone: <%= @contact.phone %></p>
<p>City: <%= @contact.city %></p>
<p>Comment: <%= @contact.comment %></p>


<hr>
</body>
</html>