<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Thankyou from Phil at <%= @inurl %></h1>
<p>
  We have received from <%= @contact.name %> 
</p>
<p>Email: <%= @contact.email %> </p>
<p>City: <%= @contact.city %> </p>
<p>Phone: <%= @contact.phone %> </p>
<p>Comment: <%= @contact.comment %> </p>

<hr>
</body>
</html>