  
<h2 class="section_header">
      <hr class="left visible-desktop">
      <span>Featured <%= domain_suff %> Bikes</span>
      <hr class="right visible-desktop">
    </h2>
   <div class="row">
	<% bike_photos = [] %>
	<% bike_photo = [] %>
	<% count = 0 %>
	<% if request.host.include? 'bike'%>
		<% @bikes.each do |bike| %> 
			<% bike_photos << bike.photos %>
		<% end %>
	<%else %>
		<% @bikes_make.each do |bike| %> 
			<% bike_photos << bike.photos %>
		<% end %>
	<% end %>
	<% bike_photos.each do |photo| %>
			<% if !photo.blank? %>
				<% if photo.length <= 3 %>	
					<%photo.each do |p|%>	
			    			<% bike_photo << p %>
					<% end %>
				<% end %>
			<% end %>
	<% end %>
		<%  case bike_photo.length%>
			<% when 1 then count= count + 2 %>
			<% when 2 then count= count + 1 %>
			<% when 3 then count= count + 0 %>
		<% end %>
	
	<% if bike_photo.length < 3 %>
		<% for i in 0...count %>
			<% bike_photo << "" %>
		<% end %>
	<% end %>
	<% if bike_photos.count > 0 %>
	<% bike_photo.sample(3).each do |p| %>
		<% if p != ""%>
			<div class="span4 feature" style="height:350px;">
				<%= link_to cl_image_tag("http://res.cloudinary.com/iwill/image/upload/#{p.path}", :width => 4000, :height => 5500, :crop => :fill), bike_path(p.attachinariable_id) %>
			        <h3> <i class="i_cloud"></i> 
					<% if Bike.find(p.attachinariable_id).make.blank?%>
						Bike
					<% else %>
	       					<%= Bike.find(p.attachinariable_id).make%>
					<% end %>
			        </h3>
			        <p class="description">
          				<strong>Description:</strong>
						<% if !Bike.find(p.attachinariable_id).amend_description.blank?%>
							<%= Bike.find(p.attachinariable_id).amend_description.truncate(10)%>
						<% else %>
	       						<%= "Nil" %>
						<% end %>

			        </p>
				<p class="Price">
          				<strong>Price:</strong>
					<% if !Bike.find(p.attachinariable_id).selling_price.blank?%>
						<%= Bike.find(p.attachinariable_id).selling_price%>
					<% else %>
       						<%= "Nil" %>
					<% end %>
        			</p>
          				<%= link_to "More", bike_path(p.attachinariable_id), :class=>"btn btn-default" %>
     			</div>
		<% else %>
			<div class="span4 feature" style="height:350px;">
	       			<%= featured_image_left %>
	      		</div>
		<% end %>
	<% end %>
	<% else %>
		<div class="span4 feature" style="height:400px;">
	       			<%= featured_image_left %>
	      	</div>
		<div class="span4 feature" style="height:400px;">
	       			<%= featured_image_left %>
	      	</div>
		<div class="span4 feature" style="height:400px;">
	       			<%= featured_image_left %>
	      	</div>
	<% end %>
    </div>
   
