<%= form_for(:submission) do |submission_form|%>
<%= submission_form.text_field :first_name  %>

<%= attachinary_file_field_tag 'submission[avatar]', @submission, :avatar %>
<%= attachinary_file_field_tag 'submission[photos]', @submission, :photos %>

    <div class="row form">
      <div class="span6">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
              <input type="text" class="span4" id="inputName">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" class="span4" id="inputEmail">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPhone">Phone</label>
            <div class="controls">
              <input type="text" class="span4" id="inputPhone">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputCity">City</label>
            <div class="controls">
              <input type="text" class="span4" id="inputCity">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputComment">Comment</label>
            <div class="controls">
              <textarea class="span4" id="inputComment" rows="6"></textarea>
            </div>
          </div>
          <div class="control-group">
            <div class="controls action">
              <button type="submit" class="btn">Send</button>
            </div>
          </div>
        </form>
      </div>
      <div class="span5 offset1">
        <div class="address">
          <h3>Address</h3>
          <p>
            2301 East Lamar Blvd. Suite 199. Arlington.
            <br> Unites States, Zip Code, TX 65730.
          </p>
          <div class="info">
            <i class="contact phone"></i>
            1 817 274 2933
          </div>
          <div class="info">
            <i class="contact email"></i>
            bootstrap@twitter.com
          </div>
          <hr>
          <h3>Social media</h3>
          <div class="social">
            <a href="#"><i class="social tw"></i></a>
            <a href="#"><i class="social fb"></i></a>
            <a href="#"><i class="social flickr"></i></a>
            <a href="#"><i class="social in"></i></a>
            <a href="#"><i class="social gp"></i></a>
            <a href="#"><i class="social pin"></i></a>
            <a href="#"><i class="social tumblr"></i></a>
            <br>
            <a href="#"><i class="social wp"></i></a>
            <a href="#"><i class="social yt"></i></a>
            <a href="#"><i class="social vim"></i></a>
            <a href="#"><i class="social picasa"></i></a>
            <a href="#"><i class="social forrst"></i></a>
            <a href="#"><i class="social rss"></i></a>
            <a href="#"><i class="social myspace"></i></a>
          </div>
        </div>
      </div>
    </div>

    <%= submission_form.submit("Save") %>

<% end %>
