<% set_meta_tags :title => 'Welcome' %>
<div id="hero">
  <div class="container">
    <!-- starts carousel -->
    <div class="row animated fadeInDown">
      <div class="span12">
        <div id="myCarousel" class="carousel slide">
          <!-- carousel items -->
          <div class="carousel-inner">
            <!-- slide -->
            <div class="active item slide1">
              <div class="row">
                <div class="span6">
                  <%= make_image %>

                </div>
                <div class="span4">
                  <h1>
                    1. Want to turn your <%= domain_suff %> motorcycle in cash ?
                  </h1>
                  <p>
                    We buy any used <%= domain_suff %> motorcycle, motorbike. All makes and models bought for cash. We collect direct from your door.
                  </p>
                  <a href="https://wrapbootstrap.com/theme/measure-responsive-business-theme-WB0D95984" class="btn btn-success btn-large">
                    Yes!
                  </a>
                </div>
              </div>
            </div>
            <!-- slide -->
            <div class="item slide2">
              <div class="row">
                <div class="span4 animated fadeInUpBig">
                  <h1>2. Submit your details for a valuation.</h1>
                  <p>
                    Fill out our simple valuation form or call Phil direct NOW on 0798 4412879
                  </p>
                  <a href="blog.html" class="btn btn-success btn-large">
                    Valuation now!
                  </a>
                </div>
                <div class="span6 animated fadeInDownBig">
                  <img src="/assets/slide2.png" alt="slide2" />
                </div>
              </div>
            </div>
            <!-- slide -->
            <div class="item slide3">
              <div class="row">
                <div class="span4 animated fadeInUpBig">
                  <h1>3. Accept our offer.</h1>
                  <p>
                    We collect your <%= domain_suff %> bike and leave you with CASH
                  </p>
                  <a href="blog.html" class="btn btn-success btn-large">
                    What are you waiting for!
                  </a>
                </div>
                <div class="span6 animated fadeInUpBig">
                  <img src="/assets/wallet.jpg" alt="slide3" />
                </div>
              </div>
            </div>
           </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="intro">
  <div class="container">
    <h1>We also have quality used <%= domain_suff %> Motorcycles for sale.</h1>
  </div>
</div>

<!-- features -->
<div id="featured">
  <div class="container">
    <!-- header -->
    <h2 class="section_header">
      <hr class="left visible-desktop">
      <span>Featured <%= domain_suff %> Bikes</span>
      <hr class="right visible-desktop">
    </h2>

    <!-- feature list -->
    <div class="row">
      <div class="span4 feature">
        <%=cl_image_tag("/assets/busa002.jpg", :width => 4000, :height => 5500, :crop => :fill)%>
        <h3>
          <i class="i_cloud"></i> Suzuki Hyabusa bla bla
        </h3>
        <p class="description">
          An excellent example of the infamous........
          majority have suffered alteration in some form, by injected humour, or randomised
          words which don't look even slightly believable.
        </p>
        <a href="#" class="btn btn-default">more</a>
      </div>
      <div class="span4 feature">
        <%=cl_image_tag("/assets/apriliarsv006.jpg", :width => 4000, :height => 5500, :crop => :fill)%>

        <h3>
          <i class="i_chart"></i> Responsive clean theme
        </h3>
        <p class="description">
          There are many variations of passages of Lorem Ipsum available, but the
          majority have suffered alteration in some form, by injected humour, or randomised
          words which don't look even slightly believable.
        </p>
        <a href="#" class="btn btn-default">more</a>
      </div>
      <div class="span4 feature">
        <%=cl_image_tag("/assets/tl1000_001.jpg", :width => 4000, :height => 5500, :crop => :fill)%>

        <h3>
          <i class="i_movil"></i> Responsive clean theme
        </h3>
        <p class="description">
          There are many variations of passages of Lorem Ipsum available, but the
          majority have suffered alteration in some form, by injected humour, or randomised
          words which don't look even slightly believable.
        </p>
        <a href="#" class="btn btn-default">more</a>
      </div>
    </div>
  </div>
</div>

<!-- starts pricing -->
<div id="random">
  <div class="container">
    <!-- header -->
    <h2 class="section_header">
      <hr class="left visible-desktop">
                <span>
                    Random selection
                    <small>
                      Lots more available</small>
                </span>
      <hr class="right visible-desktop">
    </h2>

    <!-- feature list -->
    <div class="row">
      <div class="span4 feature">
        <%=cl_image_tag("/assets/busa002.jpg", :width => 4000, :height => 5500, :crop => :fill)%>
        <h3>
          <i class="i_cloud"></i> Suzuki Hyabusa bla bla
        </h3>
        <p class="description">
          An excellent example of the infamous........
          majority have suffered alteration in some form, by injected humour, or randomised
          words which don't look even slightly believable.
        </p>
        <a href="#" class="btn btn-default">more</a>
      </div>
      <div class="span4 feature">
        <%=cl_image_tag("/assets/apriliarsv006.jpg", :width => 4000, :height => 5500, :crop => :fill)%>

        <h3>
          <i class="i_chart"></i> Responsive clean theme
        </h3>
        <p class="description">
          There are many variations of passages of Lorem Ipsum available, but the
          majority have suffered alteration in some form, by injected humour, or randomised
          words which don't look even slightly believable.
        </p>
        <a href="#" class="btn btn-default">more</a>
      </div>
      <div class="span4 feature">
        <%=cl_image_tag("/assets/tl1000_001.jpg", :width => 4000, :height => 5500, :crop => :fill)%>

        <h3>
          <i class="i_movil"></i> Responsive clean theme
        </h3>
        <p class="description">
          There are many variations of passages of Lorem Ipsum available, but the
          majority have suffered alteration in some form, by injected humour, or randomised
          words which don't look even slightly believable.
        </p>
        <a href="#" class="btn btn-default">more</a>
      </div>
    </div>


  </div>
</div>

<!-- starts testimonial -->
<div id="testimonials">
  <div class="container">
    <div class="controls">
      <hr>
    </div>
    <div class="phrases_wrapper">
      <div class="phrase">
        <div class="row">
          <div class="span7">
            <p class="testimony">
              There are many variations of passages words which don't look even slightly passage of anything embarrassing hidden in the middle.
              <span>"</span>
            </p>
          </div>
          <div class="span3 offset1">
            <div class="pic">
              <img src="/assets/pic1.jpg" alt="author" class="img-circle" />
              <span class="name">Alejandra Galvan Castillo</span>
              <span class="position">Bootstrap wizard</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






