<%= simple_form_for @bike, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-inputs">
	<% if request.host.include? 'bike' %>
          <%= f.input :make, :collection => BIKE_MAKERS, :prompt => "Choose a Bike Make" %>
        <% else %>
          <%= f.input :make, :input_html => {:value => "#{domain_suff}" ,:readonly => true} %>
        <% end %>
      <%= f.input :model, :class => 'text_field' %>
      <%= f.input :mileage, :class => 'text_field' %>
      <%= f.input :registration, :class => 'text_field' %>
      <%= f.input :postcode, :class => 'text_field' %>
      <%= f.input :stock, :class => 'check_box' %>
      <%= f.input :sold, :label => "Mark it as Sold", :class => 'check_box' %>
      <%= f.input :actual_purchase_price, :class => 'text_field' %>
      <%= f.input :amend_description , as: :text, input_html: { rows: "5" }, :hint => "Hint: Add some description to your Bike"  %>
      <%= f.input :selling_price, :class => 'text_field' %>
      <%= f.input :other , as: :text, input_html: { rows: "4" }, :hint => "Hint: Please provide any details that may help us with a valuation. e.g. Details of condition, mods, damage, extras, etc."  %>
      <%= f.input :value_wanted %>
	<%= f.input :bike_keywords, :class => 'text_field', input_html: { class: "span6", cols: "0", rows: "0" },  :label => "Meta Tags" %>
	<% if controller.action_name == "new" %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
	<% else %>
		<% if !Submission.find_by_id(@bike.submission_id).nil?%>
		<% Submission.find_by_id(@bike.submission_id).photos.each do |photo| %>
		   <%= cl_image_tag(photo.path, { size: '125x125', crop: :fit }) %>
		<% end %><% end %>
		<% @bike.photos.each do |photo| %>
		   <%= cl_image_tag(photo.path, { size: '125x125', crop: :fit }) %>
		<% end %>
		<%= f.input :photos, as: :file, input_html: { multiple: true } %>
		<%= f.input :photos, as: :file, input_html: { multiple: true } %>
		<%= f.input :photos, as: :file, input_html: { multiple: true } %>
	<% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bikes_path, :class => 'btn' %>
  </div>
<% end %>
