<%- model_class = Bike -%>
<%- title "I will buy any bike" %>
<% if request.host.include? "bike" %>
	<% @bikes.each do |bike| %>
	<%- description bike.amend_description + "," if !bike.amend_description.nil?%>
	<%- keywords "bike" +", "+ bike.model + ", "+ bike.bike_keywords.to_s %>
	<% end %>
<% else %>
	<% @bikes_make.each do |bike| %>
	<%- description bike.amend_description %>
	<%- keywords bike.make + ", "+ bike.model+ ", "+ bike.bike_keywords.to_s %>
	<% end %>
<% end %>
  <%= display_meta_tags %>
<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
       <p class="lead"></p>
<% if current_user.try(:admin?) %>
<%= link_to "Create Bike" , new_bike_path, :class => "btn btn-mini btn-success" %>
<% end %>
  </div>
</header>

<%= social_share_button_tag("My Home Page", :url => "http://mysite.com/foo") %>

<div class="container">
<% if !@bikes.blank? %>
<table class="table table-striped">
  <thead>
    <tr>

      <th>Make</th>
      <th>Model</th>
      <th>Registration</th>
      <th>Mileage</th>
      <th>PostCode</th>
      <th>Value Wanted</th>
      <th>Stock</th>
      <th>Purchase Price</th>
      <th>Selling Price</th>
      <th>Sold</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td><%= bike.make %></td>
        <td><%= bike.model %></td>
        <td><%= bike.registration %></td>
        <td><%= bike.mileage %></td>
        <td><%= bike.postcode %></td>
        <td><%= bike.value_wanted %></td>
        <td><%= bike.stock %></td>
        <td><%= bike.actual_purchase_price %></td>
        <td><%= bike.selling_price %></td>
        <td>
		<% if bike.sold == false %>
			<span style="color:green">Bike is Available</span>
		<% else %>
			<span style="color:red">Sold</span>
		<% end %>
	</td>
        <td>
	<%= link_to "Show" , bike_path(bike) ,:class => "btn btn-mini" %>
	<% if current_user.try(:admin?) %>
	<%= link_to "Edit" , edit_bike_path(bike) ,:class => "btn btn-mini btn-primary" %>

	<%= link_to "Delete",bike, :confirm => "Are you sure to Delete?", :method => "delete", :class => "btn btn-mini btn-danger" %><% end %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
No Bikes Found
<% end %>
<br/><br/><br/>
</div>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_bike_path,
            :class => 'btn btn-primary' %>
