<%- model_class = Bike -%>

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
       <p class="lead"></p>
  </div>
</header>



<div class="container">
<% if !@bikes.blank? %>
<table class="table table-striped">
  <thead>
    <tr>

      <th>Make</th>
      <th>Model</th>
      <th>Registration</th>
      <th>Mileage</th>
      <th>PostCode</th>
      <th>Value Wanted</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td><%= bike.make %></td>
        <td><%= bike.model %></td>
        <td><%= bike.registration %></td>
        <td><%= bike.mileage %></td>
        <td><%= bike.postcode %></td>
        <td><%= bike.value_wanted %></td>
        <td><%= link_to "Edit" ,"#" ,:class => "btn btn-mini btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
No Bikes Found
<% end %>
<br/><br/><br/>
</div>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_bike_path,
            :class => 'btn btn-primary' %>
