<!DOCTYPE html>
<html>
<head>
  <%= cloudinary_js_config %>
<%= javascript_include_tag "jquery" %>
<script>
//$.noConflict();
// $( document ).ready(function() {
//  $('.attachinary-input').attachinary()
// });

</script>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%
     set_meta_tags :site => 'I will buy any bike - motorcycles bought for cash - webuyanybike',
                   :description => 'Motorcycles, motorbikes, bikes bought and sold for cash, webuyanybike',
                   :keywords => 'Motorcycle, motorbike, bike, 4, for, cash, bought, webuyanybike, buy, sell, harley davidson, triumph, suzuki, kawasaki,bmw, ducati, honda, yamaha, scooters, mopeds'

  %>
<%= javascript_include_tag "jquery_ujs" %>
  <%= display_meta_tags %>
  <!-- Bootstrap -->
  <%= stylesheet_link_tag "wrapbootstrap"%>
  <%= stylesheet_link_tag "wrapanimate"%>
  <%= stylesheet_link_tag "wraptheme"%>
  <%= bootstrap_flash %>


  <%= analytics_init :local => Rails.env.development? %>

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
<a href="#" class="scrolltop">
  <span>up</span>
</a>

<!-- begins navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- <a class="brand scroller" data-section="body" href="index"> -->

       <%= link_to "/index" ,:class=>"brand scroller" do %>
         <%= make_logo %>
       <% end %>

      <!-- </a> -->

      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <% if controller.action_name != "index" || request.url.include?('bikes')  %>
          <li><a href="/featured">Featured</a></li>
           <li><%= link_to "Random", random_path %></a></li> 
          <li><a href="/contact">Contact us</a></li>
          <li><a href="/valuation">Valuation</a></li>
          <% else %>
              <li><a href="#" class="scroller" data-section="#featured">Featured</a></li>
              <li><a href="#" class="scroller" data-section="#random">Random</a></li>
              <li><a href="/contact">Contact us</a></li>
              <li><a href="/valuation">Valuation</a></li>

          <% end  %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              External Pages
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            <li><a href="#">About us</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><%= link_to "Bikes" , bikes_path %></li>
             <!-- <li><a href="/featured">Features</a></li>
               <li><a href="pricing.html">Pricing</a></li>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="coming-soon.html">Coming Soon</a></li>  -->
              
		<% if current_user.try(:admin?) %>
			<li><%= link_to "Users", users_path %></li>
		<% end %>
              <li><a href="/faq">FAQ</a></li>
            </ul>
          </li>
          <li>
            <%= link_to "Sign up", new_user_registration_path, :class => "btn-header"%>
          </li>
          <li><%= link_to "Sign in", new_user_session_path, :class => "btn-header"%></li>
	  <% if user_signed_in? %>
		<li class="dropdown">
                    <a data-target="#" data-toggle="dropdown" class="pull-right dropdown-toggle"><%= current_user.email %><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li> 
                          <%= link_to 'Edit account', edit_user_registration_path(current_user) %>
                    </li>
                     <li> 
                          <%= link_to 'Logout', destroy_user_session_path, :method => :delete%>
                      </li>

                    </ul>
                 </li> 
	<% end %>
        </ul>
   <!--     <p class="navbar-text pull-right">Phil 0798 441879</p>  -->
      </div>

    </div>
   </div>
</div>
<!-- ends navbar -->



<%= yield %>


<!-- starts footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h3>Nationwide</h3>
        <div class="blog_post">
          <div class="row">
            <div class="span2">
              <a href="#">
                <img src="/assets/historic-counties-small.gif" alt="post image" class="img-circle" />
              </a>
            </div>
            <div class="span4">
              <a href="#" class="title">
                Areas covered
              </a>
              <div class="intro">
                We collect nationwide. London, Birmingham, Manchester, York,  Darlington, Durham, Newcastle, Glasgow, in fact anywhere in the UK.
              </div>
              <div class="date">
                Phil
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="span4 contact_us">
        <h3>Our Other Sites</h3>
        <% @sites = ALL_SITES %>
        <% @sites.each do  |k| %>
        <%if request.host == k %>
        <% else %>
        <%= link_to k , "http://#{k}" ,:target => "blank" ,:style => "color:white;" %><br/>
        <% end %>
        <% end %>
        <br/>

      </div>





    </div>
    <hr>
    <div class="row copyright">
      <div class="span5">
        <h3>Social</h3>
        <a href="#" class="social fb">
          <i class="i_facebook"></i>
        </a>
        <a href="#" class="social tw">
          <i class="i_twitter"></i>
        </a>
        <a href="#" class="social yt">
          <i class="i_youtube"></i>
        </a>
      </div>
      <div class="span2 offset5 copy">
        <p>2014 - iWillBuyAnyBike</p>
      </div>
    </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/theme.js"></script>



</body>
</html>

