<!DOCTYPE html>
<html>
<head>
<%= javascript_include_tag "jquery" %>

<script>
$.noConflict();
// $( document ).ready(function() {
//  $('.attachinary-input').attachinary()
// });

</script>
  <%= cloudinary_js_config %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%
     set_meta_tags :site => 'I will buy any bike - motorcycles bought for cash - webuyanybike',
                   :description => 'Motorcycles, motorbikes, bikes bought and sold for cash, webuyanybike',
                   :keywords => 'Motorcycle, motorbike, bike, 4, for, cash, bought, webuyanybike, buy, sell, harley davidson, triumph, suzuki, kawasaki,bmw, ducati, honda, yamaha, scooters, mopeds'

  %>
  <%= display_meta_tags %>
  <!-- Bootstrap -->
  <%= stylesheet_link_tag "wrapbootstrap"%>
  <%= stylesheet_link_tag "wrapanimate"%>
  <%= stylesheet_link_tag "wraptheme"%>
  <%= bootstrap_flash %>


  <%= analytics_init :local => Rails.env.development? %>

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
<a href="#" class="scrolltop">
  <span>up</span>
</a>

<!-- begins navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand scroller" data-section="body" href="index.html">

        <%= make_logo %>

      </a>

      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <% if @page_menu == "contact" %>
          <li><a href="#">Featured</a></li>
           <li><a href="#">Random</a></li> 
          <li><a href="/contact">Contact us</a></li>
          <li><a href="/valuation">Valuation</a></li>
          <% else %>
              <li><a href="#" class="scroller" data-section="#featured">Featured</a></li>
              <li><a href="#" class="scroller" data-section="#random">Random</a></li>
              <li><a href="/contact">Contact us</a></li>
              <li><a href="/valuation">Valuation</a></li>

          <% end  %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              External Pages
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            <li><a href="#">About us</a></li>
            <li><a href="/contact">Contact us</a></li>
             <!-- <li><a href="/featured">Features</a></li>
               <li><a href="pricing.html">Pricing</a></li>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="coming-soon.html">Coming Soon</a></li> 
              
              
              <li><a href="faq.html">FAQ</a></li> -->
            </ul>
          </li>
          <li>
            <a class="btn-header" href="#">Sign up</a>
          </li>
          <li><a class="btn-header" href="#l">Sign in</a></li>
        </ul>
   <!--     <p class="navbar-text pull-right">Phil 0798 441879</p>  -->
      </div>

    </div>
   </div>
</div>
<!-- ends navbar -->



<%= yield %>


<!-- starts footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h3>From the Blog</h3>
        <div class="blog_post">
          <div class="row">
            <div class="span2">
              <a href="#">
                <img src="/assets/pic_blog.png" alt="post image" class="img-circle" />
              </a>
            </div>
            <div class="span4">
              <a href="#" class="title">
                Lorem Ipsum is simply dummy
              </a>
              <div class="intro">
                There are many variations of passages of Lorem alteration in some form by injected look even slightly believable.
              </div>
              <div class="date">
                Oct 22. 2012
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span4 contact_us">
        <h3>Contact Us</h3>
        <form class="form-horizontal">
          <div class="field">
            <div class="label_field">
              <label for="inputName">Name</label>
            </div>
            <input type="text" id="inputName" />
          </div>

          <div class="field">
            <div class="label_field">
              <label for="inputEmail">Email</label>
            </div>
            <input type="text" id="inputEmail" />
          </div>

          <div class="field">
            <div class="label_field">
              <label for="inputCity">City</label>
            </div>
            <input type="text" id="inputCity" />
          </div>

          <div class="field">
            <div class="label_field">
              <label for="inputComment">Comments</label>
            </div>
            <textarea name="comments"></textarea>
          </div>
          <button type="submit" class="btn">Send</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row copyright">
      <div class="span5">
        <h3>Social</h3>
        <a href="#" class="social fb">
          <i class="i_facebook"></i>
        </a>
        <a href="#" class="social tw">
          <i class="i_twitter"></i>
        </a>
        <a href="#" class="social yt">
          <i class="i_youtube"></i>
        </a>
      </div>
      <div class="span2 offset5 copy">
        <p>2013 - Bovswebdesign</p>
      </div>
    </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/theme.js"></script>



</body>
</html>

